
.settings/language.settings.xml
Debug/avventura_testuale.exe
Debug/src/avventura_testuale.o
Debug/prova.txt
Debug/src/avventura_testuale.o
Debug/src/lettura_file.o
Debug/src/main.o
Debug/src/utility.o
src/avventura_testuale.c
src/lettura_file.c
src/lettura_file.h
src/main.c
src/prova.txt
src/utility.c
src/utility.h
Debug/prova.txt
Debug/src/avventura_testuale.o
Debug/src/lettura_file.o
src/avventura_testuale.c
src/lettura_file.c
src/lettura_file.h
*.o
.settings/language.settings.xml
Debug/src/lettura_file.o
Debug/src/utility.o
